{% extends "base.html" %} 

{% block title %}Блог{% endblock %} 

{% block content %}
<h1>Это Блог в разделе Блог (blog_catalog.html в python_blog)</h1>
<p>Здесь вы найдете много интересного и полезного!</p>

{% comment %} Создаем строку поиска {% endcomment %}
<form class="d-flex">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Поиск"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
{% comment %} Заканчиваем строку поиска {% endcomment %}
{% endblock %} 

