{% extends "base.html" %} 

{% block title %}Запись{% endblock title %} 

{% block content %}
    <h1>Это отдельная запись</h1>    

{% comment %} Создаем строку поиска скопировал из blog_catlog. Нужнали она тут. {% endcomment %}

{% comment %} <form class="d-flex">
    <input
        class="form-control me-2"
        type="search"
        placeholder="Поиск"
        aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">Поиск</button>
</form> {% endcomment %}
{% comment %} Заканчиваем строку поиска {% endcomment %}

{% endblock content %} 