{% load markdown_to_html %}
<div class="card h-80 p-3">
  <div class="card-body">
    <h5 class="card-title">{% markdown_to_html post.title %}</h5>
    <p class="card-text">{% markdown_to_html post.text|truncatewords:30 %}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span class="me-3"> <i class="bi bi-eye">{{ post.views }}</i></span>
        <span class="me-3"
          ><i class="bi bi-chat-dots"></i> {{ post.comments|length }}</span
        >
        <span><i class="bi bi-calendar"></i> {{ post.published_date }}</span>
      </div>
      <div>
        <a
          href="{% url 'post_detail' post.slug %}"
          class="btn btn-dark d-block d-md-none"
        >
          <i class="bi bi-arrow-right"></i>
        </a>
        <a
          href="{% url 'post_detail' post.slug %}"
          class="btn btn-dark d-none d-md-block"
        >
          Читать далее
        </a>
      </div>
    </div>
    <div>
      {% if post.tags.all %}
      <div class="tags">
        {% for tag in post.tags.all %}
        <a href="{% url 'tag_detail' tag.slug %}" class="btn btn-dark">
          {{ tag }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
