{% extends 'base.html' %} {% load markdown_to_html %} {%block title%}
{{post.title}}{% endblock %} {% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{% markdown_to_html post.title %}</h5>
      <p class="card-text">{% markdown_to_html post.text %}</p>
      <p class="card-text">
        <strong>Автор:</strong> {{ post.author|default:"Автор не известен" }}
      </p>
      <p class="card-text">
        <strong>Дата публикации:</strong> {{ post.published_date }}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <span class="me-3"><i class="bi bi-eye"> {{ post.views }} </i></span>
          <span class="me-3"
            ><i class="bi bi-chat-dots"></i> {{ post.comments|length }}</span
          >
        </div>
        <div>
          <a
            href="{% url 'blog_catalog' %}"
            class="btn btn-dark d-block d-md-none"
          >
            <i class="bi bi-arrow-left"></i>
          </a>
          <a
            href="{% url 'blog_catalog' %}"
            class="btn btn-dark d-none d-md-block"
          >
            Вернуться к каталогу
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    {% if post.category %}
    <div class="tags">
      <a
        href="{% url 'category_detail' post.category.slug %}"
        class="btn btn-warning mt-2"
      >
        {{ post.category }}
      </a>
      {% endif %}
    </div>
    <div>
      {% if post.tags.all %}
      <div class="tags">
        {% for tag in post.tags.all %}
        <a
          href="{% url 'tag_detail' tag.slug %}"
          class="btn btn-dark mt-2 p-2"
        >
          {{ tag }}
        </a>
        {% endfor %} {% endif %}
      </div>
      <div class="mt-4">
        <h5>Комментарии</h5>
        {% for comment in post.comments %} {% include
        "includes/comment_include.html" %} {% endfor %}
      </div>
    </div>
    {% endblock %}
  </div>
</div>
